<div id="play-space">
	<div class="row">
		<button class="play-square" id="top-left">{{topLeft}}</button>
		<button class="play-square" id="top-center">{{topCenter}}</button>
		<button class="play-square" id="top-right">{{topRight}}</button>
	</div>
	<div class="row">
		<button class="play-square" id="mid-left">{{midLeft}}</button>
		<button class="play-square" id="mid-center">{{midCenter}}</button>
		<button class="play-square" id="mid-right">{{midRight}}</button>
	</div>
	<div class="row">
		<button class="play-square" id="bot-left">{{botLeft}}</button>
		<button class="play-square" id="bot-center">{{botCenter}}</button>
		<button class="play-square" id="bot-right">{{botRight}}</button>
	</div>
</div>